include:
  - project: 'twalk-tech/templates/gitlab'
    file: 'build.yml'

stages:
  - build
{% for image in images.keys() %}
Build Image {{ image }}:
  stage: build
  extends: .build_docker
  variables:
    DIR: {{ image }}
    CI_PROJECT_NAME: $CI_PROJECT_NAME/{{ image }}
    TAG: $CI_COMMIT_SHORT_SHA
  only:
    refs:
      - main
    changes:
      - {{ image }}/**/*
      - .gitlab-ci.yml
{% endfor %}
